In [13]:
import pandas as pd
from sklearn import preprocessing

In [1]:
!wget -O loan_train.csv https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/loan_train.csv

--2022-05-20 15:18:42--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/loan_train.csv
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 23101 (23K) [text/csv]
Saving to: 'loan_train.csv'

     0K .......... .......... ..                              100%  255K=0.09s

2022-05-20 15:18:43 (255 KB/s) - 'loan_train.csv' saved [23101/23101]

In [4]:
df = pd.read_csv('loan_train.csv')
df.head()

,Unnamed: 0.1,Unnamed: 0,loan_status,Principal,terms,effective_date,due_date,age,education,Gender
0,0,0,PAIDOFF,1000,30,9/8/2016,10/7/2016,45,High School or Below,male
1,2,2,PAIDOFF,1000,30,9/8/2016,10/7/2016,33,Bechalor,female
2,3,3,PAIDOFF,1000,15,9/8/2016,9/22/2016,27,college,male
3,4,4,PAIDOFF,1000,30,9/9/2016,10/8/2016,28,college,female
4,6,6,PAIDOFF,1000,30,9/9/2016,10/8/2016,29,college,male

In [5]:
df['loan_status'].value_counts()

PAIDOFF       260
COLLECTION     86
Name: loan_status, dtype: int64

In [6]:
df['Gender'].replace(to_replace=['male','female'], value=[0,1],inplace=True)
df.head()

,Unnamed: 0.1,Unnamed: 0,loan_status,Principal,terms,effective_date,due_date,age,education,Gender
0,0,0,PAIDOFF,1000,30,9/8/2016,10/7/2016,45,High School or Below,0
1,2,2,PAIDOFF,1000,30,9/8/2016,10/7/2016,33,Bechalor,1
2,3,3,PAIDOFF,1000,15,9/8/2016,9/22/2016,27,college,0
3,4,4,PAIDOFF,1000,30,9/9/2016,10/8/2016,28,college,1
4,6,6,PAIDOFF,1000,30,9/9/2016,10/8/2016,29,college,0

In [7]:
df[['Principal','terms','age','Gender','education']].head()

   Principal  terms  age  Gender             education
0       1000     30   45       0  High School or Below
1       1000     30   33       1              Bechalor
2       1000     15   27       0               college
3       1000     30   28       1               college
4       1000     30   29       0               college

In [9]:
Feature = df[['Principal','terms','age','Gender']]
Feature = pd.concat([Feature,pd.get_dummies(df['education'])], axis=1)
Feature.drop(['Master or Above'], axis = 1,inplace=True)
Feature.head()

   Principal  terms  age  Gender  Bechalor  High School or Below  college
0       1000     30   45       0         0                     1        0
1       1000     30   33       1         1                     0        0
2       1000     15   27       0         0                     0        1
3       1000     30   28       1         0                     0        1
4       1000     30   29       0         0                     0        1

In [10]:
# feature sets
X = Feature
X[0:5]

   Principal  terms  age  Gender  Bechalor  High School or Below  college
0       1000     30   45       0         0                     1        0
1       1000     30   33       1         1                     0        0
2       1000     15   27       0         0                     0        1
3       1000     30   28       1         0                     0        1
4       1000     30   29       0         0                     0        1

In [11]:
# labels
y = df['loan_status'].values
y[0:5]

array(['PAIDOFF', 'PAIDOFF', 'PAIDOFF', 'PAIDOFF', 'PAIDOFF'],
      dtype=object)

In [14]:
# Normalize Data
X= preprocessing.StandardScaler().fit(X).transform(X.astype(float))
X[0:5]

array([[ 0.51578458,  0.92071769,  2.33152555, -0.42056004, -0.38170062,
         1.13639374, -0.86968108],
       [ 0.51578458,  0.92071769,  0.34170148,  2.37778177,  2.61985426,
        -0.87997669, -0.86968108],
       [ 0.51578458, -0.95911111, -0.65321055, -0.42056004, -0.38170062,
        -0.87997669,  1.14984679],
       [ 0.51578458,  0.92071769, -0.48739188,  2.37778177, -0.38170062,
        -0.87997669,  1.14984679],
       [ 0.51578458,  0.92071769, -0.3215732 , -0.42056004, -0.38170062,
        -0.87997669,  1.14984679]])

In [16]:
# Train Test Split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=4)

## KNN

In [15]:
# importing library
from sklearn.neighbors import KNeighborsClassifier

In [18]:
# training
k = 10
neigh = KNeighborsClassifier(n_neighbors = k).fit(X_train, y_train)
neigh

KNeighborsClassifier(n_neighbors=10)

In [29]:
# predicting
y_hat_KNN = neigh.predict(X_test)
y_hat_KNN[0:5]

array(['PAIDOFF', 'PAIDOFF', 'PAIDOFF', 'COLLECTION', 'COLLECTION'],
      dtype=object)

In [30]:
# evaluation
from sklearn import metrics
print("Train set Accuracy of KNN: ", metrics.accuracy_score(y_train, neigh.predict(X_train)))
print("Test set Accuracy of KNN: ", metrics.accuracy_score(y_test, y_hat_KNN))

Train set Accuracy of KNN:  0.75
Test set Accuracy of KNN:  0.7428571428571429

## Decision Tree

In [21]:
# importing library
from sklearn.tree import DecisionTreeClassifier
import sklearn.tree as tree

In [23]:
# Modeling
drugTree = DecisionTreeClassifier(criterion = "entropy")
drugTree.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy')

In [24]:
# predicting
predTree = drugTree.predict(X_test)
print(predTree[0:5])
print(y_test[0:5])

['PAIDOFF' 'PAIDOFF' 'COLLECTION' 'COLLECTION' 'PAIDOFF']
['PAIDOFF' 'PAIDOFF' 'PAIDOFF' 'PAIDOFF' 'PAIDOFF']

In [25]:
# evaluation
print("Accuracy of DecisionTree: ", metrics.accuracy_score(y_test, predTree))

Accuracy of DecisionTree:  0.6714285714285714

## Logistic Regression

In [26]:
# import library
from sklearn.linear_model import LogisticRegression

In [27]:
# Modeling
LR = LogisticRegression(C = 0.01, solver='liblinear').fit(X_train, y_train)

In [31]:
# predicting
y_hat_LR = LR.predict(X_test)
y_hat_LR[0:5]

array(['PAIDOFF', 'PAIDOFF', 'PAIDOFF', 'PAIDOFF', 'PAIDOFF'],
      dtype=object)

In [33]:
y_hat_prob_LR = LR.predict_proba(X_test)
y_hat_prob_LR[0:5]

array([[0.4349857 , 0.5650143 ],
       [0.38243441, 0.61756559],
       [0.39982337, 0.60017663],
       [0.44825132, 0.55174868],
       [0.42310356, 0.57689644]])

In [45]:
# evaluation
## jaccard
from sklearn.metrics import jaccard_score
jaccard_score(y_test, y_hat_LR, pos_label="PAIDOFF")

0.7857142857142857

In [46]:
# evaluation
## log loss
from sklearn.metrics import log_loss
log_loss(y_test, y_hat_prob_LR)

0.600866678869581

## Support Vector Machine

In [40]:
# import library
from sklearn import svm

In [41]:
# Modeling
clf = svm.SVC(kernel='rbf')
clf.fit(X_train, y_train)

SVC()

In [42]:
# predicting
y_hat_svm = clf.predict(X_test)

In [44]:
# Evaluation
## jaccard_score
jaccard_score(y_test, y_hat_svm, pos_label="PAIDOFF")

0.7857142857142857

In [48]:
# Evaluation
## f1 score
from sklearn.metrics import f1_score
f1_score(y_test, y_hat_svm, average="weighted")

0.6914285714285714

## Evaluation by Test Dataset

In [49]:
!wget -O loan_test.csv https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/loan_test.csv

--2022-05-20 16:21:23--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/loan_test.csv
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3642 (3.6K) [text/csv]
Saving to: 'loan_test.csv'

     0K ...                                                   100% 4.24G=0s

2022-05-20 16:21:24 (4.24 GB/s) - 'loan_test.csv' saved [3642/3642]

In [60]:
test_df = pd.read_csv('loan_test.csv')
test_df.head()

,Unnamed: 0.1,Unnamed: 0,loan_status,Principal,terms,effective_date,due_date,age,education,Gender
0,1,1,PAIDOFF,1000,30,9/8/2016,10/7/2016,50,Bechalor,female
1,5,5,PAIDOFF,300,7,9/9/2016,9/15/2016,35,Master or Above,male
2,21,21,PAIDOFF,1000,30,9/10/2016,10/9/2016,43,High School or Below,female
3,24,24,PAIDOFF,1000,30,9/10/2016,10/9/2016,26,college,male
4,35,35,PAIDOFF,800,15,9/11/2016,9/25/2016,29,Bechalor,male

In [61]:
test_df['Gender'].replace(to_replace=['male','female'], value=[0,1],inplace=True)
test_df.head()

,Unnamed: 0.1,Unnamed: 0,loan_status,Principal,terms,effective_date,due_date,age,education,Gender
0,1,1,PAIDOFF,1000,30,9/8/2016,10/7/2016,50,Bechalor,1
1,5,5,PAIDOFF,300,7,9/9/2016,9/15/2016,35,Master or Above,0
2,21,21,PAIDOFF,1000,30,9/10/2016,10/9/2016,43,High School or Below,1
3,24,24,PAIDOFF,1000,30,9/10/2016,10/9/2016,26,college,0
4,35,35,PAIDOFF,800,15,9/11/2016,9/25/2016,29,Bechalor,0

In [64]:
df.groupby(['education'])['loan_status'].value_counts(normalize=True)
test_df[['Principal','terms','age','Gender','education']].head()

   Principal  terms  age  Gender             education
0       1000     30   50       1              Bechalor
1        300      7   35       0       Master or Above
2       1000     30   43       1  High School or Below
3       1000     30   26       0               college
4        800     15   29       0              Bechalor

In [73]:
Test_Feature = test_df[['Principal','terms','age','Gender']]
Test_Feature = pd.concat([Test_Feature,pd.get_dummies(test_df['education'])], axis=1)
Test_Feature.drop(['Master or Above'], axis = 1,inplace=True)
Test_Feature.head()

   Principal  terms  age  Gender  Bechalor  High School or Below  college
0       1000     30   50       1         1                     0        0
1        300      7   35       0         0                     0        0
2       1000     30   43       1         0                     1        0
3       1000     30   26       0         0                     0        1
4        800     15   29       0         1                     0        0

In [74]:
#Test_X = Feature
#Test_y = df['loan_status'].values

In [75]:
TestX= preprocessing.StandardScaler().fit(Test_Feature).transform(Test_Feature)
TestX[0:5]
TestY = df['loan_status'].values

In [78]:
# KNN
KNN_pred=neigh.predict(TestX)
jc_KNN = jaccard_score(TestY, KNN_pred,pos_label = "PAIDOFF")
fs_KNN = f1_score(TestY, KNN_pred, average='weighted')

# Decision Tree
Tree_pred=drugTree.predict(TestX)
jc_Tree=jaccard_score(TestY, Tree_pred,pos_label = "PAIDOFF")
fs_Tree=f1_score(TestY, Tree_pred, average='weighted')

# LR
log_pred=LR.predict(TestX)
proba=LR.predict_proba(TestX)
jc_LR=jaccard_score(TestY, log_pred,pos_label = "PAIDOFF")
fs_LR=f1_score(TestY, log_pred, average='weighted')  
ll_LR=log_loss(TestY, proba)

# svm
svm_pred=clf.predict(TestX)
jc_svm=jaccard_score(TestY, svm_pred,pos_label = "PAIDOFF")
fs_svm=f1_score(TestY, svm_pred, average='weighted')

list_jc = [jc_KNN, jc_Tree, jc_LR, jc_svm]
list_fs = [fs_KNN, fs_Tree, fs_LR, fs_svm]
list_ll = ['NA', 'NA', ll_LR, 'NA']

# fomulate the report format
df = pd.DataFrame(list_jc, index=['KNN','Decision Tree','Logistic Regression','SVM'])
df.columns = ['Jaccard']
df.insert(loc=1, column='F1-score', value=list_fs)
df.insert(loc=2, column='LogLoss', value=list_ll)
df.columns.name = 'Algorithm'
df

Algorithm             Jaccard  F1-score   LogLoss
KNN                  0.703704  0.611916        NA
Decision Tree        0.615385  0.607584        NA
Logistic Regression  0.740741  0.630418  0.612239
SVM                  0.740741  0.630418        NA